##csv handling

In [93]:
import pandas as pd
df=pd.read_csv('test.csv')

#exploredata

In [94]:
df.head() #first 5 rows
df.info() #column info
df.describe() #stats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   04/09/2025  6 non-null      object
 1   12          6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes

              12
count   6.000000
mean   16.500000
std     5.319774
min    10.000000
25%    12.000000
50%    18.500000
75%    19.000000
max    23.000000

In [100]:
import pandas as pd
df = pd.read_csv("cleaned.csv", header=None, names=["Date", "Sales"])
print(df.head())

         Date  Sales
0  04/09/2025     12
1  04/09/2025     18
2  04/09/2025     10
3  04/09/2025     19
4  04/09/2025     19

#select rows and columns

In [99]:
df["Sales"]       # select first column
df["Date"]  # select second column

0    04/09/2025
1    04/09/2025
2    04/09/2025
3    04/09/2025
4    04/09/2025
5    04/09/2025
6    04/09/2025
Name: Date, dtype: object

filter data

##save back to csv

In [54]:
df.to_csv("cleaned.csv", index=False)