lets a student data in python

In [12]:
name = "alice"
age  = 18
GPA = 3.78
plays_volleyball = True

print(name)

alice

In [13]:
print(name, age, GPA,  plays_volleyball)

alice 18 3.78 True

In [14]:
GPA = GPA + 0.07

print(name, age, GPA,  plays_volleyball)

alice 18 3.8499999999999996 True

lets try and print the student information in a more meaningful manner

In [15]:
print(f"The student name is {name} and they are {age} years old.")

The student name is alice and they are 18 years old.

lets calculate the alice's age in 15 years

In [16]:
age = age + 15
print(f"The student name is {name} and they are {age} years old in 15 years.")

The student name is alice and they are 33 years old in 15 years.

In [17]:
sports = ["volleyball", "netball", "touch rugby", "cross country"]
sports[0]

'volleyball'

In [18]:
sports.append("cricket")

print("Alice is currently playing:", sports)

Alice is currently playing: ['volleyball', 'netball', 'touch rugby', 'cross country', 'cricket']

In [19]:
sports[0:3]

['volleyball', 'netball', 'touch rugby']

lets see the **last 3 sports** alice is playing

In [20]:
sports[2:]

['touch rugby', 'cross country', 'cricket']

## calculating letter grade

- 2 or under D
- 3 or under C
- 3.8 or under B
- Above 3.8 A

In [23]:
Student_gpa = float(input("what is your GPA? "))
if Student_gpa <= 2:
    letter_grade = "D"
elif Student_gpa <= 3:
    letter_grade = "C"
elif Student_gpa <= 3.8:
    letter_grade = "B"
else:
    letter_grade = "A"
print(f"student's letter grade is {letter_grade}.")

student's letter grade is C.