# Student Data Example in Python

In [1]:
name = "alice"
age  = 18
GPA = 3.78
plays_volleyball = True

print(name, age, GPA, plays_volleyball)

In [2]:
GPA = GPA + 0.07
print(name, age, GPA, plays_volleyball)

## Student age in future

In [3]:
future_age = age + 15
print(f"The student name is {name} and they are {future_age} years old in 15 years.")

## Lists in Python (Sports example)

In [4]:
sports = ["volleyball", "netball", "touch rugby", "cross country"]
print(sports)

sports.append("cricket")
print("Alice is currently playing:", sports)

In [5]:
print("First 3 sports:", sports[0:3])
print("Last 3 sports:", sports[-3:])

## Calculating Letter Grade

In [6]:
Student_gpa = 3.2  # change this value to test

if Student_gpa <= 2:
    letter_grade = "D"
elif Student_gpa <= 3:
    letter_grade = "C"
elif Student_gpa <= 3.8:
    letter_grade = "B"
else:
    letter_grade = "A"

print(f"Student's letter grade is {letter_grade}.")

## Dictionaries in Python

In [7]:
fruit = {"apple": 2.5, "banana": 1.2, "orange": 3.0}
print(fruit.keys())
print(fruit.values())
print(fruit.items())

fruit["grape"] = 4.0
fruit["banana"] = 1.5
print(fruit)

fruit2 = {"mango": 5.0, "pineapple": 6.0}
fruit.update(fruit2)
print(fruit)

fruit.pop("apple")
print(fruit)

## Sets in Python

In [8]:
S1 = {1, "poorna", 1, "poorna"}   # duplicates removed automatically
print(S1)

S1.add("hello")
print(S1)

S1.update([10, 20, 30])
print(S1)

S1.remove(10)
print(S1)

## Arrays & NumPy (vectorised operations)

In [9]:
import numpy as np

arr = np.array([1,2,3,4,5])
print("arr:", arr)
print("arr + 5:", arr + 5)
arr_copy = arr.copy()
arr_view = arr.view()
print("copy:", arr_copy)
print("view:", arr_view)
arr2 = np.array([5,4,3,2,1])
print("arr + arr2:", arr + arr2)
print("mean:", arr.mean())
print("std:", arr.std())
print("reshape example:", np.arange(6).reshape(2,3))
print("boolean mask (arr>2):", arr > 2)
print("masked elements:", arr[arr > 2])

In [10]:
arr3 = np.arange(1,11)
arr3 = arr3.reshape(2,5)
print("arr3 shape:", arr3.shape)
print("concatenate example:", np.concatenate([np.arange(1,6), np.arange(6,11)]))
print("elementwise multiply:", np.array([1,2,3]) * np.array([4,5,6]))

## List / Dict / Set Comprehensions & Generator expressions

In [11]:
squares = [x*x for x in range(10)]
evens = [x for x in range(10) if x % 2 == 0]
pairs = [(i,j) for i in range(3) for j in range(2)]
print("squares:", squares)
print("evens:", evens)
print("pairs:", pairs)

In [12]:
square_dict = {x: x*x for x in range(6)}
mod_set = {x % 3 for x in range(10)}
gen = (x*x for x in range(6))  # generator expression
print("square_dict:", square_dict)
print("mod_set:", mod_set)
print("sum of gen:", sum(gen))

## enumerate, zip, map, filter examples

In [13]:
names = ["alice", "bob", "carol"]
for idx, name in enumerate(names, start=1):
    print(idx, name)

scores = [80, 90, 70]
for n, s in zip(names, scores):
    print(n, s)

doubled = list(map(lambda x: x*2, scores))
filtered = list(filter(lambda x: x >= 80, scores))
print('doubled:', doubled)
print('filtered (>=80):', filtered)

## Tuples & slicing examples

In [14]:
t = (1,2,3)
print('tuple t:', t)
try:
    t[0] = 10
except TypeError as e:
    print('tuple is immutable:', e)

lst = list(range(10))
print('lst[::2] (every 2nd):', lst[::2])
print('lst[::-1] (reversed):', lst[::-1])

## Small function: average GPA of multiple students (practice)

In [15]:
students = [
    {"name": "alice", "gpa": 3.85},
    {"name": "bob", "gpa": 2.9},
    {"name": "carol", "gpa": 3.5},
]

def average_gpa(student_list):
    return sum(s['gpa'] for s in student_list) / len(student_list)

print('average GPA:', average_gpa(students))